.button {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    outline: none;
    border: none;
    padding: 15px 10px;
    height: 35px;
    width: 100%;
    margin: 5px 0;
}